/* Add additional stylesheets below
-------------------------------------------------- */

html{
    height: 100%;
}

ul {
   display: block;
   margin-top:25px;
}

.botton{
 display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    position:fixed;
    left:100px;
    }

.button:hover {background-color: #190266}

.button:active {
  background-color: #190266;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.battleGrid {
    border: 5px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}



.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}
.hit {
    background-color: red;
    animation: fade 600ms infinite;
    -webkit-animation: fade 600ms infinite;
}

.exposed{
background-color:gray;
}

.firstbutton{
    width: 100px
}

.secondbutton{
    width: 150px
}

.thirdbutton{
    width: 200px;
}



.vertical{
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
body {
    background-image: url("https://i.ytimg.com/vi/C6yVfvhYLPE/maxresdefault.jpg");
       background-size:cover;
       height:800;
}

.container{
height:800;
}

.rightside{
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

position:fixed;
right:100px;
top:50px;
}

.vermov{
position:fixed;
left:100px;
top:500px;
}

.minmov{
 display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    position:fixed;
    left:100px;
position:fixed;
left:100px;
top:100px;
}
.desmov{
 display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    position:fixed;
    left:100px;
position:fixed;
left:100px;
top:200px;
}
.batmov{
 display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    position:fixed;
    left:100px;
position:fixed;
left:100px;
top:300px;
}

.submov{
 display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    position:fixed;
    left:100px;
position:fixed;
left:100px;
top:400px;
}

.sonmov{
  display: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    position:fixed;
    left:100px;
position:fixed;
left:100px;
top:100px;
}

.fleetmov{
  display: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0e28a5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    position:fixed;
    left:100px;
position:fixed;
left:100px;
top:200px;
}
