<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">



<h1 align="center" >Battleship</h1>

<table align="center" id="opponent" class="battleGrid" style="float: right; margin-right: 20%;">
</table>

<table align="center" id="player" class="battleGrid" style="float: left; margin-left: 20%;">
</table>


<ul>
    <ul><button id="place_minesweeper" class="minmov" class="button">Place Minesweeper</button></ul>
    <ul><button align="left" id="place_destroyer" class="desmov">Place Destroyer</button></ul>
    <ul><button align="left" id="place_battleship" class="batmov">Place Battleship</button></ul>
    <ul><button align="left" id="place_submarine" class="submov">Place Submarine</button></ul>
    <ul><button id="place_sonar" class="sonmov" class="button">Place Sonar Pulse</button></ul>
    <ul><button id="move_fleet" class="fleetmov" class="button">Move Fleet</button></ul>
    <ul class="vermov"><input align="left" type="checkbox" id="is_vertical"  style="zoom:200%;color:blue"><p class="vertical">Vertical</p></ul>
    <ul ><button align="left" id="newgame" onClick="window.location.reload()" class="rightside">New Game</button></ul>

</ul>



<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>